body {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input {
  padding: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  padding: 0;
}
